# Artefatos de compilação (PyInstaller)
build/
dist/
*.spec

# Binários pesados
ffmpeg_bin/

# Pastas geradas pelo programa em tempo de execução
exports/
logs/

# Ambiente virtual Python
venv/
env/

# Backups ou arquivos locais
sos/

# Cache e arquivos temporários do Python
__pycache__/
*.py[cod]